<!DOCTYPE html>
<html>
    <head>
        <title> Find work in the UK </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115765936-1"></script>
    </head>
    <body>
        <footer>
            <script src="/bundle.js"></script>
        </footer>
    </body>
</html>