<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<table>
		<tr>
			<th>
				<a href="/jobTitle"> Job Title </a>
			</th>
			<th>
				<a href="/companyName"> Company </a>
			</th>
			<th>
				<a href="/jobLocation"> Location </a>
			</th>
			<th>
				<a href="/website"> Extracted from </a>
			</th>
		</tr>
		<% for(let i =0; i<data.length; i++){%>
			<tr>
				<td><%=data[i].jobTitle%></td>
				<td><%=data[i].companyName%></td>
				<td><%=data[i].jobLocation%></td>
				<td><%=data[i].website%></td>
			</tr>
		<%}%>
	</table>
  </body>
</html>
