<!DOCTYPE html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="stylesheets/index.css">
	</head>
	<body class="grid-wrapper">
		<header>
			<ul id="menu-bar">
				<li>
					<a href="#portfolio">
						<h3>Portfolio</h3>
					</a>
				</li>
				<li>
					<a href="#price-guide">
						<h3>Prices</h3>
					</a>
				</li>
				<li>
					<a href="/">
						<img src="images/name-logo-bw.svg" alt="home-link">
					</a>
				</li>
				<li>
					<a href="#about">
						<h3>About me</h3>
					</a>
				</li>
				<li>
					<a href="#contact">
						<h3>Contact</h3>
					</a>
				</li>
			</ul>
		</header>
		<div id="img-container">
			<h1>Freelance web design</h1><!--Put website into context. Who is this site for?-->
			<p>
				Edinburgh-based web developer
				<br/>
				Take care of whole setup process
				<br/>
				Can work from scratch or modify an existing site
				<br/>
				Good prices as I am a freelancer
				<br/>
				Direct communication throughout the process
				<br/>
				Happy to work to your specification, or to just get on with it myself
			</p>
			<a href="#contact">
				Contact me
			</a>
		</div>
		<div id="main-content">
			<div id="portfolio">
				<h1>Portfolio</h1>
			</div>
			<div id="price-guide">
				<h1>Prices</h1>
				<p>Quotes are negotiated on a project-by-project basis: after receiving your requirements, I will give you a quote which will be the final price to pay upon completion of work.
					Unless otherwise stated, any quote will include a year's hosting and a mobile-optimised version of your site.
				   <br/><br/>
					I will aim to produce a draft of the website as early as possible. At that stage, any changes to the overall look and feel of the page can be requested.
				   <br/><br/>
				   Please be aware that any additional features requested after the price is agreed upon may incur additional charges.	
			</div>
			<div id="about">
				<h1>About me</h1>
			</div>
			<div id="contact">
				<h1>Contact form</h1>
				<p>Fill out the form below, and I will get back to you as soon as possible.</p>
				<form action="/send-message" method="post">
					<h4>Your email address</h4>
					<textarea name="email" placeholder="Enter your email address"></textarea>
					<h4>Message</h4>
					<textarea name="message" placeholder="Enter your message"></textarea>
					<input type="submit" value="Send message"></input>
				</form>
			</div>
		</div>
		<footer>
			<h5>Copyright Mark Wood 2018</h5>
		</footer>
	</body>
</html>