<!DOCTYPE html>
<html>
    <head>
        <title> Find work in the UK </title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <footer>
            <script src="/bundle.js"></script>
        </footer>
    </body>
</html>