*{
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	height: 100vh;
	width: 100vw;
}

.grid-wrapper{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 100px auto auto 100px;
	grid-template-areas:
		"header header header"
		"lhs blurb rhs"
		"lhs table rhs"
		"footer footer footer";
}

header{
	grid-area: header;
	background-color: #000;
	padding-left: 12.5%;
}

header > a, img{
	position: relative;
}

#blurb{
	grid-area: blurb;
	margin: 15px 0;
}

table{
	grid-area: table;
	border-collapse: collapse;
}

table, th, td {
	text-align: center;
	margin: 0;
	padding: 10px; 
}

tr:nth-child(even){
	background-color: #d3d3d3;
}

.side-margin{
}

#lhs{
	grid-area: lhs;
}

#rhs{
	grid-area: rhs;
}

footer{
	grid-area: footer;
	background-color: #000;
	margin-top: 30px;
}

a {
  color: #00B7FF;
}
