*{
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	height: 100vh;
	width: 100vw;
}

.grid-wrapper{
	display: grid;
	grid-template-columns: 1fr 6fr 1fr;
	grid-template-rows: 70px auto auto 100px;
	grid-template-areas:
		". header ."
		"lhs blurb rhs"
		"lhs main-content rhs"
		"footer footer footer";
	
}

header{
	grid-area: header;
}

header > a, img{
	position: relative;
	height: 100%;
	width: auto; 
}

/*A hack to ensure that the home logo stays aligned with the text & table contained in the central column
Issue is with left and right margins automatically collapsing as the screen is resized. Using a margin for the logo therefore gave inconsistent results.
Another option would be to use jQuery to set margin by the size of the lhs, but that seems needlessly complicated.
*/
header > #black-background{
	position: absolute;
	top: 0;
	left: 0;
	height: 70px;
	width: 100vw;
	background-color:#000;
	overflow: visible;
}

#blurb{
	grid-area: blurb;
	margin: 15px 0;
}

#main-content{
	grid-area: main-content;
}

#main-content > form{
	float: left;
	width: 355px;
	margin: 20px 0;
}

#main-content > form > input:first-child{
	width: 300px;
}

table{
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	text-align: center;
	margin: 0;
	padding: 10px; 
}

tr:nth-child(even){
	background-color: #d3d3d3;
}

th{
	text-decoration: underline; 
}

th:hover{
	cursor: pointer;
}

.side-margin{
}

#lhs{
	grid-area: lhs;
}

#rhs{
	grid-area: rhs;
}

footer{
	grid-area: footer;
	background-color: #000;
	margin-top: 30px;
}

a {
  color: #00B7FF;
}

@media screen and (max-width: 500px){
	td{
		height: 150px;
	}
}